.catalog {           
  
  display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

    padding: 2rem 0;

    @media only screen and (min-width: 992px) {
       
    }
}
