.footer {
  margin-top: 9rem;
  margin-left: 4rem;
    background-color: $white;

    padding: 1rem 4rem;

    .row {
      
    }

    &__header {
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 2rem;

      margin-bottom: 1.4rem;

      &-sc {
        color: $blue;
      }
    }

    &__default {
      font-weight: 500;
      font-size: .9rem;      
      line-height: 1.1rem;
      color: $dark-gray;

      margin-bottom: 1.5rem;

      &-sc {
        color: $blue;
        cursor: pointer;        
      }
    }  

    @media only screen and (max-width: 992px) {

    }
}
